In [19]:
import pandas as pd

In [20]:
pd.set_option('display.max_rows', None) 
pd.set_option('display.max_columns', None)

In [21]:
file_path = snakemake.input[0]
df = pd.read_csv(file_path)
df = df.convert_dtypes()

In [22]:
grouped = df.groupby('platform')

In [23]:
grouped['scientific_name'].value_counts()

platform         scientific_name
ILLUMINA         Shigella sonnei    323
OXFORD_NANOPORE  Shigella sonnei      1
PACBIO_SMRT      Shigella sonnei      2
Name: count, dtype: int64

In [24]:
grouped['inferred_collection_year'].value_counts()

platform         inferred_collection_year
ILLUMINA         2012                        64
                 2014                        59
                 2013                        57
                 2011                        53
                 2018                        42
                 2015                        37
                 2009                         4
                 2010                         3
                 2020                         3
                 2016                         1
OXFORD_NANOPORE  2014                         1
PACBIO_SMRT      2016                         2
Name: count, dtype: Int64

In [25]:
grouped['inferred_collection_year'].describe()

,count,mean,std,min,25%,50%,75%,max
platform,,,,,,,,
ILLUMINA,323.0,2013.532508,2.28987,2009.0,2012.0,2013.0,2015.0,2020.0
OXFORD_NANOPORE,1.0,2014.0,<NA>,2014.0,2014.0,2014.0,2014.0,2014.0
PACBIO_SMRT,2.0,2016.0,0.0,2016.0,2016.0,2016.0,2016.0,2016.0

In [26]:
grouped['spots'].describe()

,count,mean,std,min,25%,50%,75%,max
platform,,,,,,,,
ILLUMINA,323.0,1477924.173375,1915333.270309,312469.0,505961.5,601548.0,1155763.5,10263801.0
OXFORD_NANOPORE,1.0,0.0,<NA>,0.0,0.0,0.0,0.0,0.0
PACBIO_SMRT,2.0,163482.0,0.0,163482.0,163482.0,163482.0,163482.0,163482.0

In [27]:
grouped['bases'].describe()

,count,mean,std,min,25%,50%,75%,max
platform,,,,,,,,
ILLUMINA,323.0,449789278.19195,575636532.120718,94118748.0,152520286.0,183083670.0,364199104.5,3099667902.0
OXFORD_NANOPORE,1.0,0.0,<NA>,0.0,0.0,0.0,0.0,0.0
PACBIO_SMRT,2.0,1478163176.5,278799434.180494,1281022206.0,1379592691.25,1478163176.5,1576733661.75,1675304147.0